In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams['figure.dpi'] = 600
plt.rcParams['savefig.dpi'] = 600

sns.set_theme(style='darkgrid', palette='viridis', rc={
              "figure.dpi": 600, 'savefig.dpi': 600, 'figure.figsize': (11.7, 8.27)})

In [2]:
df = pd.read_csv('../assets/fire_locs.csv')
df.head()

   _uid_        id     longitude      latitude initialdate  days
0   16.0  966855.0 -2.107749e+06  1.663840e+06  2002-01-08     0
1   19.0  966859.0 -1.599552e+06  1.247091e+06  2002-01-08     7
2   19.0  966859.0 -1.599552e+06  1.247091e+06  2002-01-09     7
3   17.0  966856.0 -2.106833e+06  1.661532e+06  2002-01-10     0
4   19.0  966859.0 -1.599552e+06  1.247091e+06  2002-01-10     7

In [3]:
df['initialdate'] = pd.to_datetime(df['initialdate'])

In [5]:
for i in [1, 2, 4, 8, 16, 32]:
    this_df = df.copy(deep=True)
    this_df['initialdate'] = this_df['initialdate'] - pd.Timedelta(days=i)
    this_df.to_csv(f'../assets/T-{i}.csv', index=False)